ul{
  margin-bottom: 100px;
  list-style: none;
  margin-top: 50px;
  text-align: center;
  li{
    margin-bottom: 10px;
    font-size: 2.5rem;
    i{


     color: green;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
