<div class="col-md-7 col-lg-8 m-5">
  <h4 class="mb-3">Please Sign up</h4>
  <form [formGroup]=" authForm">

      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">First name</label>
          <input formControlName="name" type="text" class="form-control">
    <div *ngIf="
          authForm.controls['name'].touched

          ">
          <div *ngIf="authForm.controls['name'].errors?.['required']"
            class="mt-3 text-danger bg-danger-subtle text-black text-center pt-1 pb-1 w-50">
            First name is required.
          </div>
          <div *ngIf="authForm.controls['name'].errors ">
            <p class="mt-3 text-danger bg-danger-subtle text-black text-center pt-1 pb-1 w-50">characters from a-z</p>
          </div>

        </div>
      </div>

    </div>

    <div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Surname</label>
        <input formControlName="surname" type="text" class="form-control">
        <div>
          Valid last name is required.
        </div>
        {{authForm.get('surname')?.errors | json}}
      </div>

      <div class="col-sm-6">
        <label for="lastName" class="form-label">Password</label>
        <input formControlName="password" type="text" class="form-control">
        <div>
          Valid Password is required.
        </div>
        {{authForm.get('password')?.errors | json}}
      </div>


      <div class="col-sm-6">
        <label for="lastName" class="form-label">Password Confirmation</label>
        <input formControlName="confirmation" type="text" class="form-control">
        <div>
          Confirmation Required
        </div>
        {{authForm.get('confirmation')?.errors | json}}
      </div>

      <div class="col-12">
        <label for="username" class="form-label"> Select Username</label>
        <div>

          <input formControlName="username" type="text" class="form-control">
          <div>
            Your username is required.
          </div>
        </div>
      </div>

      {{authForm.get('username')?.errors | json}}


      <!-- <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" placeholder="you@example.com">
          <div>
            Please enter a valid email address
          </div>
        </div> -->

      <div class="col-12">
        <label for="address" class="form-label">Telephone Number</label>
        <input formControlName="telephoneNumber" type="text" class="form-control">
        <div>
          Please enter your Telephone Number
        </div>
        {{authForm.get('telephoneNumber')?.errors | json}}
      </div>

      <div class="col-12">
        <label for="address" class="form-label">Date of Birth</label>
        <input formControlName="dateOfBirth" type="text" class="form-control">
        <div>
          Please enter your Date of Birth yyyy-mm-dd
        </div>
        {{authForm.get('dateOfBirth')?.errors | json}}
      </div>
    </div>


    <button class="w-100 btn btn-primary btn-lg" type="submit">Sign Up</button>
  </form>

  {{authForm.errors | json}}
</div>
