@charset "UTF-8";


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #D3D3D3;
    
}

h1{
    color: #4ECCA3;
    font-size: 7rem;
    margin: 5%;
    margin-bottom: 1%;
}

p{
    
}

.dice{
    display: inline-block;
    
    padding: 2% 2% 10% 5%;
}

.p1,
.p2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete{
   margin: 3%;
}

button{
    display: inline-block;
    
    padding: 20px;
    color: #fff;
    cursor: pointer;
    
}

input{
    padding: 20px;
}

.icon{
    color: black;
}

