<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p> {{error}} </p>
    </div>
    <div class="text-center" *ngIf="isLoading">
      <app-loading-spinning></app-loading-spinning>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" class="form-control"
        ngModel
        name="email"
        required
        email />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control"
        ngModel
        name="password"
        required
        minlength="6"/>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control"
        ngModel
        name="name"
        required
        minlength="6"/>
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" id="lastname" class="form-control"
        ngModel
        name="lastname"
        required
        >
      </div>
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" id="username" class="form-control"
        ngModel
        name="username"
        required
        >
      </div>
      <div>
        <button type="submit" [disabled]="!authForm.valid"
         class="btn btn-primary"> {{isLoginMode ? 'Login' : 'Sign Up'}} </button> |
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
      </div>
    </form>
  </div>
</div>

