
<div class="results">

  <ul  *ngFor="let todo of todos">
    <li>
      {{ todo.title }}

    </li>
    <div class="objects">

      <i (click)="switchTask(todo)" class="bi bi-check-circle-fill"></i>
      <a [routerLink]="['/todo','update',todo.id]">modify</a>
    </div>
  </ul>



  <form>

    <input [(ngModel)]="newTodo.title" type="text"  placeholder="title" name="title">


      <button (click)="elaborate()" [disabled]="!(newTodo.title.trim() !== '')">create</button>
      <!-- <p *ngIf="inputError" class="error">Input cannot be empty!</p> -->
    </form>


</div>



