* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  
}

#main-content {

  padding: 30px 200px!important;

}

 .we-do {
  border-bottom: 1px solid #686868;
} 

a {
  text-decoration: none;
}

p {
  color: #fff;
}

#preference {
  font-size: 0.8rem;
}

.who h3 {
  padding-right: 120px !important;
  background-color: grey !important;
}

#ratings {
  color: #fff;
  background-color: rgb(37, 37, 37);
  padding: 3px;
  width: 165px;
  text-align: center;
  
  font-size: 0.8rem;
}

#edit {
  width: 20%;
  color: #686868;
  border: 1px solid #686868 !important;
  padding: 1px 4px;
}
#edit a {
  color: #686868;
}

 .all-maturity,
 .underline{
  border-bottom: 1px solid #686868;
} 

#preference {
  font-size: 0.8rem;
}

#account {
  border-bottom: 1px solid #686868;
}

#page button {
  background-color: black;
  color: #686868;
  padding: 5px 20px;
  border: 1px solid #686868;
}
#page button:hover {
  background-color: #fff;
}

input[type=checkbox] {
  transform: scale(2);
  margin-right: 10px;
  accent-color: black;
  border-color: 5px solid #686868;
}
.display{
  display: inline-block;
}

.radius{
  border: 1px solid white !important;
  background-color: black;
  text-align: center;
}

.drop{
  width: 50px;
}

@media all and (max-width: 480px) { 
  form p{
    font-size: 0.8rem;
  }

  input[type=checkbox] {
    transform: scale(1.3);
  }

  .settings{
    font-size: 0.7rem;
  }

  .we-do button{
    font-size: 0.8rem;
  }
}

@media all and (min-width: 320px) and (max-width: 736px) {
    
#main-content {
  padding: 30px !important;
}
#account{
  flex-direction: column;
 
}

.acc{
  margin-left: 0 !important;
  margin: 0 !important;
}

  }

  #account{
    display: flex;
  }


  @media all and (min-width: 744px) and (max-width: 935px) {
    #main-content {
      padding: 25px !important;
    }

    form p{
      font-size: 1rem;
    }
  
   
  
    .settings{
      font-size: 1rem;
    }
  
    .we-do button{
      font-size: 1.2rem;
    }
    
    form p{
      font-size: 0.8rem;
    }

    input[type=checkbox] {
      transform: scale(1.3);
     
    }

  }
  @media all and (max-width: 3000px) {
    
    #main-content {
    
      #image{
        margin-right: 50px;
      }
      
    
    }
  }
